
<table class="table" id="tableku">
    <thead>
        <tr>
            <th>Id</th>
            <th>Tanggal</th>
            <th>Uraian</th>
            <th>Debet</th>
            <th>Kredit</th>
            <th>Aksi</th>
        </tr>
    </thead>
    <tbody>
        {% for tr in transaksis %}
        <tr>
            <td>{{tr.id}}</td>
            <td>{{tr.tanggal}}</td>
            <td>{{tr.uraian}}</td>
            <td>{{tr.debt}}</td>
            <td>{{tr.kredit}}</td>
            
            <td>
                <a href="{% url 'transaksi:edit' jurnal_id=jurnal.id transaksi_id=tr.id %}" class="btn btn-warning">
                    <i class="fa fa-edit"></i>
                </a>
                <!-- Button trigger modal -->
                <button class="btn btn-danger" data-toggle="modal" data-target="#myModal{{tr.id}}">
                    <i class="fa fa-trash"></i>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="myModal{{tr.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-md" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Konfirmasi Penghapusan</h4>
                            </div>
                            <div class="modal-body">
                                Apakah anda yakin ingin menghapus Jurnal dengan nama <b>{{jr.nama}}</b> dan id <b>{{jr.id}}</b>?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                                <a href="{% url 'transaksi:hapus' jurnal_id=jurnal.id transaksi_id=tr.id %}" class="btn btn-danger">
                                    <i class="fa fa-trash"></i> Hapus
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>Tanggal</th>
            <th>Uraian</th>
            <th>Debet</th>
            <th>Kredit</th>
            <th>Aksi</th>
        </tr>
    </tfoot>
</table>

<script type="text/javascript">
    $('#tableku').DataTable();
</script>