{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Jurnal</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-themes.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'datatables/css/dataTables.bootstrap.css' %}">


    <script src="{% static 'jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'datatables/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'datatables/js/dataTables.bootstrap.js' %}"></script>


</head>

<body>
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <form action="{% url 'auth:login' %}" method="POST">
                {% csrf_token %} {{form}}
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</body>

</html>